.main-container{
   margin: 0 auto;
   padding: 0 115px;
   max-width: 1400px;
}

.main-info{
   margin: 80px 0;
}

.main-info-left{
   width: 450px;
}

.main-info-left__title{
   font-family: 'Manrope';
   font-style: normal;
   font-weight: 700;
   font-size: 48px;
   line-height: 66px;
   color: #231F20;
   text-transform: uppercase;
}

.main-info-left__text{
   margin-top: 20px;
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 27px;
}

.main-info-left__text--blue{
   color: #009CB4;
}

.main-search{
   position: relative;
   margin-top: 40px;
}

.main-search__input{
   padding-left: 49px;
   width: 330px;
   height: 56px;

   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 19px;
   color: #C6C6C6;

   border: none;
   background: #FFFFFF;
   border-radius: 5px 0px 0px 5px;
}

.main-search__icon{
   position: absolute;
   width: 18px;
   height: 18px;
   top: 19px;
   left: 18px;
   opacity: 0.8;
}

.main-search__button{
   width: 120px;
   height: 56px;
   background: #009CB4;
   border-radius: 5px;

   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 25px;
   letter-spacing: 0.01em;
   color: #FFFFFF;
}

.main-info-right{
   width: 505px;
}
