.news-container{
   margin: 80px auto;
}

.news-cards{
   margin-top: 40px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 40px 30px;
}

.news-button{
   display: block;
   margin: 40px auto 0;
   width: 270px;
   height: 56px;
   background: #009CB4;
   border-radius: 5px;

   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 25px;
   letter-spacing: 0.01em;
   color: #FFFFFF;
}
